 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/chieck-wings.jpg");
  background-position: 50% 50%;
  background-size: 110%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-size: auto 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 55px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-bottom: 57px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1285px;
}

.u-section-2 .u-image-1 {
  width: 628px;
  height: 628px;
  background-image: url("images/biryani.jpg");
  background-position: 50% 50%;
  margin: 60px 96px 0 auto;
}

.u-section-2 .u-image-2 {
  width: 276px;
  height: 276px;
  background-image: url("images/colddrink.jpg");
  background-position: 50% 50%;
  margin: -596px auto 0 71px;
}

.u-section-2 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("images/frenchfries.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0 156px;
}

.u-section-2 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -419px auto 0 20px;
}

.u-section-2 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 39px 69px 0 auto;
}

.u-section-2 .u-group-1 {
  min-height: 358px;
  margin-top: 71px;
  margin-bottom: 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-2 .u-image-1 {
    width: 562px;
    height: 562px;
    margin-right: 60px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -628px;
    margin-left: 30px;
  }

  .u-section-2 .u-image-3 {
    width: 362px;
    height: 362px;
    margin-top: 141px;
    margin-left: 171px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -432px;
    margin-left: 52px;
  }

  .u-section-2 .u-shape-2 {
    width: 227px;
    height: 227px;
    margin-top: 7px;
    margin-right: 20px;
  }

  .u-section-2 .u-group-1 {
    min-height: 366px;
    margin-top: 147px;
    margin-bottom: -6px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1476px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -812px;
    margin-left: 20px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 331px;
    margin-left: 20px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -658px;
    margin-left: 13px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 245px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: 87px;
    margin-bottom: -190px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-2 .u-image-1 {
    width: 488px;
    height: 488px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: -799px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 323px;
    height: 323px;
    margin-top: 348px;
    margin-left: -19px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -671px;
    margin-left: 0;
  }

  .u-section-2 .u-shape-2 {
    width: 167px;
    height: 167px;
    margin-top: 281px;
  }

  .u-section-2 .u-group-1 {
    min-height: 398px;
    margin-top: 125px;
    margin-bottom: -251px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1239px;
  }

  .u-section-2 .u-image-1 {
    width: 293px;
    height: 293px;
    margin-top: 190px;
  }

  .u-section-2 .u-image-2 {
    width: 212px;
    height: 212px;
    margin-top: -458px;
  }

  .u-section-2 .u-image-3 {
    width: 240px;
    height: 240px;
    margin-top: 163px;
    margin-left: -28px;
  }

  .u-section-2 .u-shape-1 {
    width: 73px;
    height: 73px;
    margin-top: -393px;
    margin-left: 24px;
  }

  .u-section-2 .u-shape-2 {
    width: 101px;
    height: 101px;
    margin-top: 164px;
  }

  .u-section-2 .u-group-1 {
    min-height: 488px;
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 520px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1173px;
  margin: 60px auto 60px -33px;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("images/a385e072b97312fa2a574a9fe32293877734c6edb97aec136c1bf0a0e0acf6daccea039aab07e6d75833860f61f88efb9150526573c372517674a5_1280.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 146px;
  height: 146px;
  margin: 11px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 29px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 321px;
    background-position: 100% 36.54%;
    background-size: auto 110%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-image-1 {
    min-height: 246px;
    background-position: 49.72% 39.52%;
    background-size: auto 115%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 246px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 284px;
    background-size: auto 110%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 11070px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -133px;
    margin-bottom: 37px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 179px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 6970px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}